BOT_TOKEN=
BOT_FFMPEGPATH=
BOT_ENABLEDEBUGLOGS=False

DATABASE_ENABLE=True
DATABASE_CONNECTIONSTRING=mongodb://localhost:27017/
DATABASE_NAME=suruga

INVIDIOUSCOMPANION_ENABLE=True
INVIDIOUSCOMPANION_SECRETKEY=CHANGE_ME
INVIDIOUSCOMPANION_HOST=localhost
INVIDIOUSCOMPANION_PORT=8282
INVIDIOUSCOMPANION_USEHTTPS=False
